@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.font-ox{
  font-family: "Oxanium", serif;
}


.App-header{
  height: 70dvh;
  min-height: 400px;
}

.bg{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 70dvh;
  min-height: 400px;
  width: 100%;
  object-fit: cover;
  filter: brightness(15%);
}

.set-trans {
  transition: all 1s ease-in-out;
}

.sub-head{
  color: #00B7FD;
}